    .l-productos {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    @media(max-width:1237px){
        .l-productos {
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: center;
        }
    }