.center{
<<<<<<< HEAD
<<<<<<< HEAD
      width: 150px;
      margin: 40px auto;
=======
    width: 150px;
      margin: 40px auto;
      
>>>>>>> origin/kevin
=======
    width: 150px;
      margin: 40px auto;
      
>>>>>>> origin/alejandro
    }