.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
    text-align: left;
    @include flex(row, space-around, none);
}
.footer__izquierda{
    @include flex(column, none, none);
    color:$footerColorLetra;
}
.footer__centro{
    @include flex(column, none, none);
    color:$footerColorLetra;
    margin-bottom: 10px;
    margin-top: 45px;
}
.footer__derecha{
    @include flex(column, none, none);
    color:$footerColorLetra;
    margin-top: 45px;
}
.footer__links{
    color:$footerColorLetra;
    @include flex(column, none, none);
}
.footer__iconos{
    @include flex(column, none, none);
    color:$footerColorLetra;

}
.footer__copyright{
    color:$footerColorLetra;
    margin-top: auto;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.footer__item-centro{
margin-bottom: 10px;
}