.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $fondoFooter;
    
}

.menu-footer{
    display: flex;
    flex-direction: column;
}
.menu-footer__titulo{
    font-size: 20px;
    color: $footerColorLetra;
    font-weight: bold;
    text-decoration: underline;
    font-family: $letra;
}
.menu-footer__item{
    font-size:14px;
    color: $footerColorLetra;
    text-align: center;
    font-family: $letra;
}