.main-menu {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    background-color: $fondoMainMenu;
    flex-wrap: wrap;
    z-index: 1;
}

.main-menu__icon-login {
    display: none;
}

.main-menu__icon-register {
    display: none;
}

.main-menu__logo {
    margin-left: 30px;
    margin-top: 12px;
}

@media(max-width:727px) {
    .main-menu {
        display: flex;
        justify-content: flex-start;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
        background-color: $fondoMainMenu;
        flex-wrap: wrap;
        position: absolute;
        z-index: 1;
        width: 100%;

    }

    .main-menu__logo {
        margin-left: 20px;
        margin-top: 12px;
    }

    .main-menu__login {
        display: none;
    }

    .main-menu__register {
        display: none
    }

    .main-menu__icon-login {
        display: block;
    }

    .main-menu__icon-register {
        display: block;
    }
}



.main-menu__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $letra;
    width: 100%;
    color: $colorLetraMainMenu;
    font-size: 20px;
    height: 100%;

}

.main-menu__item {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.main-menu__item--invisible {
    display: block;
}

.main-menu__item--derecha {
    margin-left: auto;
}

.main-menu__item--seleccionado:hover {
    border-bottom: 2px solid #FFFFFF;
}


.main-menu__item--centro-izquierda {
    margin-left: auto;
}




@media(max-width:453px) {
    .main-menu__item--invisible {
        display: none;
    }
}

@media(max-width:325px) {
    .main-menu__item--invisible {
        display: none;
    }

    .main-menu__logo {
        margin-left: 10px;
    }

    .main-menu__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media(max-width:276px) {
    .main-menu__item--invisible {
        display: none;
    }

    .main-menu__logo {
        margin-left: 30px;
    }

    .main-menu__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .main-menu__item--derecha {
        margin-left: 0px;
    }
}