.menu-usuario {
    text-align: center;
    width: 120px;
}

.menu-usuario__desplegable {
    display: none;
}

@media(max-width:393px) {
    .menu-usuario__item--invisible {
        display: block;
    }
}

.menu-usuario__item--invisible {
    display: none;
}

.menu-usuario:hover>.menu-usuario__desplegable {
    animation-duration: 0.1s;
    animation-name: slide;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 120px;
    animation-timing-function: linear;
    background-color: #202124;
    animation-fill-mode: forwards;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);

}

.menu-usuario--derecha {
    margin-left: auto;

}

.main-usuario__texto {
    font-size: 16px;
}

@keyframes slide {
    0% {
        top: 42px;
    }

    100% {
        top: 52px;
    }
}


@media(max-width:457px) {
    .main-usuario__texto {
        font-size: 12px;
    }

    .menu-usuario {
        text-align: center;
        width: 120px;
    }

    .menu-usuario:hover>.menu-usuario__desplegable {
        animation-duration: 0.1s;
        animation-name: slide;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 120px;
        animation-timing-function: linear;
        background-color: #202124;
        animation-fill-mode: forwards;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.1);

    }
}