.menu-side {
    padding: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: $fondoMenuSide;
}

.menu-side__hamburguesa {
    display: none;
}

.menu-side__titulo {
    font-family: $letra;
    font-size: 22px;
    text-align: center; //esto esta mal hay que mirar el html y ponerle clase al P.
    margin-bottom: 15px;
    font-weight: bold;
}


.menu-side__item {
    font-family: $letra;
    display: block;
    border-bottom: 1px solid #E7E7E7;
    text-align: center;
    border-width: 1px;
}

.menu-side__item:hover {
    display: block;
    text-align: center;
    background-color: $menuSideFondo--hover;
    color: white
}

.menu-side__items {
    display: block;
}

.menu-side__items--visible {
    display: block;
}

.menu-side__items--invisible {
    display: block;
}
@media(max-width:727px) {
    .menu-side {
        padding: 0px;
        width: 100%;
        position: relative;
        z-index: 0;
        box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
       background-color: $fondoMenuSide;
    
    }
    
    
.menu-side__item {
    font-family: $letra;
    display: block;
    border-bottom: 1px solid #E7E7E7;
    text-align: center;
    border-width: 1px;
    background-color: rgba(51, 51, 51, 0.1) ;
}
    
    .menu-side__items {
        display: none;

    }

    .menu-side__items--visible {
        animation-duration: 1s;
        animation-name: slide2;
        @include flex(column, none, none);
        position: absolute;
         z-index: 0;
        width: 100%;
        animation-timing-function: linear;
        background-color:  rgba(255, 255, 255, 0.85);
        animation-fill-mode: forwards;
        margin-top: -141px;
    }

     .menu-side__items--invisible {
        animation-duration: 2s;
        animation-name: slideoff;
        @include flex(column, none, none);
        position: absolute;
         z-index: 0;
        width: 100%;
        animation-timing-function: linear;
        background-color:  rgba(255, 255, 255, 0.85);
        animation-fill-mode: forwards;
        margin-top: -54px;
    }

    
    .menu-side__hamburguesa {
        display: block;
        height: 100%;
        font-size: 30px;
    }

    .menu-side__titulo {
        display: none;
    }
}

@keyframes slide2 {
  0%   {top: -65px;}
  100% {top: 213px; }
  }
  
  @keyframes slideoff {
  0%   {top: 132px;}
  100% {top: -250px; }
  }