  .modal-footer1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.modal__botonPrimario{
    color: #FFFFFF;
    background-color: #292c2f;
    border: none;
    height: 100%;
    width: 100%;
    padding: 12px;
}
.modal__botonPrimario:hover{
    border:1px solid #FFFFFF;
}

.modal-body__imagen{
width:280px;
height: 300px;
}

.modal-body-a{
    padding: 20px;
display: flex;
}
.modal-body-b{
    padding: 20px;
    display: flex;
flex-wrap: wrap;
flex-direction: row;

}

.modal-body__contador{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}


.modal-body__precio{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;

}
.modal-derecha{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align:center;

}

.moda-body__boton-menos{
border-radius: 25px;
background-color: #292c2f;
color:#FFFFFF;
border:none;
margin-right: 5px;
outline: none;

}
.moda-body__boton-menos:focus { 
    outline-color: transparent; 
    outline-style: none;
}

.moda-body__boton-mas:focus { 
    outline-color: transparent; 
    outline-style: none;
}
.moda-body__boton-mas{
    border-radius: 25px;
    background-color: #292c2f;
    color:#FFFFFF;
    border:none;
    margin-left: 5px;
}