.modal-body{
    overflow-y: auto;
}
<<<<<<< HEAD
<<<<<<< HEAD
.modal-content--tamaño{
    right:90%;
=======
=======
>>>>>>> origin/alejandro
.modal-footer__precio{
    margin-bottom: 1px;
}
.modal-content--tamaño{
<<<<<<< HEAD
>>>>>>> origin/kevin
=======
>>>>>>> origin/alejandro
    width: 90vw;
    height: 90vh;
}

.modal-carrito-body__boton-mas{
    border-radius: 25px;
<<<<<<< HEAD
<<<<<<< HEAD
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: $modalCarritoFondoBotones;
    color: $modalCarritoColorLetra;
    border: none;
    outline:none;
    margin-left: 15px;
}
.modal-carrito-body__boton-menos{
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: $modalCarritoFondoBotones;
    color: $modalCarritoColorLetra;
    border: none;
    outline:none;
    margin-left:auto;
    margin-right: 5px;
=======
=======
>>>>>>> origin/alejandro
    background-color: #292c2f;
    color: #FFFFFF;
    border: none;
    margin-left: 3px;
    outline:none;
    margin-right: 50px;
}
.modal-carrito-body__boton-menos{
    border-radius: 25px;
    background-color: #292c2f;
    color: #FFFFFF;
    border: none;
    margin-right: -7px;
    outline:none;
    margin-left: 10px;

<<<<<<< HEAD
>>>>>>> origin/kevin
=======
>>>>>>> origin/alejandro
}

.modal-carrito-body__boton:focus { 
    outline-color: transparent; 
    outline-style: none;
}

.modal-carrito-body__boton:focus { 
    outline-color: transparent; 
    outline-style: none;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media only screen and (max-width: 600px) and (min-width: 501px)  {
    .modal-content--tamaño{
        right:initial;
        width: 95vw;
        height: 80vh;
    }
    .imagenCarrito{
        width: 20px;
        height: 20px;
    }
}

@media(max-width:500px) {
    .modal-content--tamaño{
        right:0%;
        width: 95vw;
        height: 80vh;
    }
    .imagenCarrito{
        width: 20px;
        height: 20px;
=======
=======
>>>>>>> origin/alejandro
.modal-content{
margin-left: 30px;
margin-right: 30px;
}

.modal-carrito__body-precio{
    margin-right: 20px;
}
.modal-carrito__body-precio2{
    margin-right: 20px;
    }
@media(max-width:500px) {
    .modal-content--tamaño{
        width: 200px;
        height: auto;
<<<<<<< HEAD
>>>>>>> origin/kevin
=======
>>>>>>> origin/alejandro
    }
}

.modalBody__articuloCarrito{
<<<<<<< HEAD
<<<<<<< HEAD
    @include flex(row, flex-start, center);
    
}
.modalBody__articuloCarrito--oscuro{
    @include flex(row, flex-start, center);
=======
=======
>>>>>>> origin/alejandro
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.modalBody__articuloCarrito--oscuro{
<<<<<<< HEAD
>>>>>>> origin/kevin
=======
>>>>>>> origin/alejandro
    background-color: $fondoLandingPage;
}

.imagenCarrito{
    width: 150px;
    height: 170px;
}

.item{
    margin-left: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: $letra;
}

.modal-footer{
    @include flex(row, flex-start, center);
}
.bttn{ //cambiar el puto nombre de la clase
    font-family: $letra;
    margin-left: auto;
    background-color: $colorBotonEliminar;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: $modalColorLetraBotones;
    margin-right: 20px;
}
.modal-carrito__body-precio{
    margin-left:auto;
    font-family: $letra;
}
.modal-carrito__body-total{
    font-family: $letra;
    margin-left:auto;
}
.modal-footer__boton-comprar{
    margin-left: auto !important;
    margin-left: auto;
    background-color: $modalCarritoFondoBotones;
    color: $modalCarritoColorLetra;
    font-family: $letra;
    border: none;
    border-radius: 5px;
    padding: 12px;
}
.modal-footer__precio{
    font-family: $letra;
}
.modal-headerCarrito{
    background-color: $modalProductoFondoHeader;
    color: $modalCarritoColorLetra;
}
.modal-header-carrito__titulo{
    color:$modalCarritoColorLetra;
    font-family: $letra;
    margin-left: 100px;
}
.modal-header-carrito__close{
    color: $modalCarritoColorLetra;
}
.modal-header-carrito__close:hover{
    color: $modalCarritoColorLetra;
    font-size: 30px;
}
=======
}
>>>>>>> origin/kevin
=======
}
>>>>>>> origin/alejandro
