$debug:0;
$letra: Libre Franklin, sans-serif;

$colorLetraPrincipal: #FFFFFF;
$cardColorLetraBoton: $colorLetraPrincipal;
$colorLetraMainMenu: $colorLetraPrincipal;
$footerColorLetra: $colorLetraPrincipal;
$mainMenuColorLetra: $colorLetraPrincipal;
$modalCarritoColorLetra: $colorLetraPrincipal;
$modalColorLetraBotones: $colorLetraPrincipal;
$modalColorLetra: $colorLetraPrincipal;
$botonLoginColorLetra: $colorLetraPrincipal;


$colorFondosOscuros: #202124;
$fondoMainMenu: $colorFondosOscuros;
$menuSideFondo--hover: $colorFondosOscuros;
$fondoFooter: $colorFondosOscuros;
$modalFondoBotones: $colorFondosOscuros;
$modalCarritoFondoBotones: $colorFondosOscuros;
$modalProductoFondoHeader: $colorFondosOscuros;
$botonFlotanteColorFondo: $colorFondosOscuros;
$botonLoginColorFondo: $colorFondosOscuros;

$fondoMenuSide: #FFFFFF;
$fondoLandingPage: #E7E7E7;
$colorBotonEliminar: #FF1E00;


