<<<<<<< HEAD
$debug:0;
$letra: Libre Franklin, sans-serif;
$colorLetraPrincipal: #FFFFFF;
$colorLetraMainMenu: #FFFFFF;
$fondoMainMenu: #202124;
$fondoLandingPage: #E7E7E7;
$fondoMenuSide: #FFFFFF;
$footerColorLetra: #FFFFFF;
$mainMenuColorLetra: $colorLetraPrincipal;
$fondoFooter: #202124;
=======
$debug:0;
$letra: Libre Franklin, sans-serif;
$colorLetraPrincipal: #FFFFFF;
$colorLetraMainMenu: #FFFFFF;
$fondoMainMenu: #202124;
$fondoLandingPage: #E7E7E7;
$fondoMenuSide: #FFFFFF;
$footerColorLetra: #FFFFFF;
$mainMenuColorLetra: $colorLetraPrincipal;
$fondoFooter: #202124;
>>>>>>> ramses1
